
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using EnterSchoolApp.Constants;

@{
    var currentUser = HttpContext.Current.GetOwinContext().Get<ApplicationSignInManager>().UserManager.FindByName(User.Identity.Name);
    string institution = currentUser.Institution == null ? "EnterSchoolApp" : currentUser.Institution.Name;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pharmacy App" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pharmacy App | @ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    @RenderSection("styles", required: false)

    @*@Styles.Render("~/Content/css")
        @Styles.Render("~/font-awesome/css")*@
</head>
<body>
    <form id="logout-form" style="display: none;" action="@Url.Action("LogOff","Account")" method="post">
        @Html.AntiForgeryToken()
    </form>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">@currentUser.UserName | @institution</span>
                            </li>
                            <li>
                                <a href="@Url.Action(AccountControllerRoute.GetLogOff)" role="button" class="cmd-logout">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--Notify-->
            <input id="toastr-info" type="hidden" value="@TempData[Alerts.Info]" />
            <input id="toastr-warn" type="hidden" value="@TempData[Alerts.Warn]" />
            <input id="toastr-success" type="hidden" value="@TempData[Alerts.Success]" />
            <input id="toastr-error" type="hidden" value="@TempData[Alerts.Error]" />


            <!--Dashboard Body-->
            @RenderBody()

            <div class="footer">
                <div class="pull-right">
                    <strong>@Application.Name&reg;</strong>.
                </div>
                <div>
                    <strong>Copyright</strong> EnterSchoolApp &copy; @DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/plugins/metsiMenu")
        @Scripts.Render("~/plugins/pace")
        @Scripts.Render("~/plugins/slimScroll")
        @Scripts.Render("~/bundles/inspinia")*@
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/App/notify.js"></script>
    <script src="~/Scripts/App/logout.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
